/* --------> common */

html {
  font-size: 14px;
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.msg-format {
  text-align: center;
  padding: 4rem 2rem;
  line-height: 3rem;
}

.msg-format h2 {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 2rem;
}

/* <-------- common */

/* --------> header */

header {
  background-color: #000;
  position: static;
  width: 100%;
}

header .bg-brand {
  background: url(images/logo.png) no-repeat left/10rem;
  height: 3rem;
  width: 15rem;
  margin-left: 5%;
}

header #navbarNav {
  margin-right: 10%;
}

header .navbar {
  padding: 0;
}

header .navbar .navbar-nav {
  padding: 1.5rem 0;
}

header .nav-link {
  color: #fff;
  margin-right: 1.5rem;
  margin-left: 5%;
}

header .nav-link:hover {
  color: #fff;
}

header .dropdown-menu {
  background-color: #000;
  border-radius: 0;
  border: none;
  margin-left: 5%;
}

header .dropdown-menu .dropdown-item {
  color: #fff;
  padding: 10px 60px 10px 20px;
}

header .dropdown-menu .dropdown-item:hover {
  background-color: #000; /*rgba(52, 58, 64, 1)*/
}

/*--- ハンバーガーリストのスタイルの定義１ ---*/
header .navbar-toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*--- ハンバーガーリストのスタイルの定義２ ---*/
header .navbar-toggler span {
  height: 3px;
  width: 20px;
  background-color: #fff;
  margin: 2px 0;
  border-radius: 25%;
}

header .navbar-toggler:focus {
  outline: none;
}

@media (min-width: 1200px) {
  /*---ハンバーガーリストに折りたたむ際にnavbarの色を変更---*/
  header {
    background-color: rgba(0, 0, 0, 0.5);
  }

  header .navbar-nav .nav-link {
    color: #fff;
  }

  header .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  header .dropdown-menu {
    margin-top: 1.5rem;
  }

  header .dropdown-menu .dropdown-item:hover {
    background-color: rgba(
      68,
      38,
      6,
      0.5
    ); /*---hoverしない場合の定義　rgba(52,58,64,1)---*/
  }
}

@media (min-width: 900px) {
  header {
    position: absolute;
    top: 0;
  }
}

/* <-------- header */

/* --------> main */

/* --- Top ---*/
#top .top-bg {
  background: url("images/coffee-918926_1920.jpg") no-repeat top/cover;
  height: 500px;
  width: 100%;

  /*キャッチの表示位置を指定*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#top h1 {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  writing-mode: vertical-rl;
  color: #fff;
  font-size: 2rem;
}

#top .top-msg {
  background-color: #000;
  color: #fff;
}

@media (min-width: 900px) {
  #top .top-bg {
    min-height: 800px;
  }

  #top h1,
  #top .top-msg h2 {
    font-size: 3rem;
  }
}

/* --- Top End---*/

/* --- overview ---*/

#overview .overview-wrapper {
  margin: 6rem 5%;
  background: #eee;
}

#overview .concept-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#overview .images {
  background: no-repeat Top/contain;
  width: 50%;
  padding-bottom: 50%;
}

#overview .item1 {
  background-image: url("images/top_4images_1.jpg");
}

#overview .item2 {
  background-image: url("images/top_4images_2.jpg");
}

#overview .item3 {
  background-image: url("images/top_4images_3.jpg");
}

#overview .item4 {
  background-image: url("images/top_4images_4.jpg");
}

#overview .concept-msg {
  color: #000;
}

@media (min-width: 960px) {
  #overview .images {
    width: 25%;
    padding-bottom: 25%;
  }

  #overview .concept-msg h2 {
    font-size: 3rem;
  }
}

/* --- overview  End---*/

/* --- main-info Start --- */

.main-info-wrapper {
  margin: 6rem 5%;
  padding-bottom: 10%;
}

#main-info .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

#main-info .col-12 {
  margin-bottom: 20px;
}

#main-info .card {
  background: #eee;
  border: none;
}

/*画像左上のタイトルの装飾の定義*/
#main-info .image-cut {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 75px solid #fff;
  border-bottom: 75px solid transparent;
  border-left: 75px solid #fff;
  border-right: 75px solid transparent;
}

#main-info .image-cut::before {
  position: absolute;
  top: -75px;
  left: -75px;
  font-size: 1.75rem;
  font-weight: 700;
}

#main-info .image-cut-concept::before {
  content: "CONCEPT";
}

#main-info .image-cut-service::before {
  content: "SERVICE";
}

#main-info .image-cut-floor::before {
  content: "FLOOR";
}

#main-info .card-text {
  line-height: 3rem;
  font-size: 1.25rem;
  padding: 0 2rem;
  font-weight: 200;
}

#main-info .btn {
  display: block;
  background-color: #000;
  width: 190px;
  padding: 20px;
  margin: 40px auto;
  border-radius: 0;
  color: #fff;
}

#main-info .btn:hover {
  background-color: #442606;
}

/* <-------- main */

/* --------> footer */

/* <-------- footer */

/* -----memo ------*/
/*
m-1:0.25rem
m-2:0.5rem
m-3:1.0rem
m-4:1.5rem 
m-5:3.0rem 

カフェ画像１：<a href="https://pixabay.com/ja/users/qimono-1962238/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1580595">Arek Socha</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1580595">Pixabay</a>からの画像
カフェ画像２：<a href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=918926">Free-Photos</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=918926">Pixabay</a>からの画像

cardサンプル

<div class="card" style="width: 18rem;">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

font-weight:

400:normal
700:bold

grid system

.col-
.col-sm- max 540px
.col-md- max 720px
.col-lg- max 960px
.col-xl- max 1140px
*/
